.match-card {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
}

.match-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.match-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 12px;
}

.match-title {
  margin: 0;
  font-size: 1.1rem;
}

.match-sub {
  margin: 0;
  font-size: 0.9rem;
}
